/*FOOTER*/
footer {
    margin-bottom: 0;
    padding: 150px 1px 0px;
    text-align: $text-align;
    color: $color;
    div{
        background-color: rgb(27, 27, 27);
        align-items: center;
    }
}